/* app css stylesheet */

body {
  width:100%;
  background-color:#000;
  color:#DD00FF;
}



/**************************************************
LED Styling
**************************************************/

.tentacle {
  margin-top: 1em;
  display : inline-flex;
  flex-direction: column;
}

.tentacle>div {
    height:10px;
}

.circle {
  border-radius: 50%;
  display:inline-block;
  width:100%;
  height:100%;
}

.mm-controls .btn-group-vertical {
  width:100%;
}

.mm-controls .btn-group-vertical .circle {
  width:20px;
  height:20px;
}