/* app css stylesheet */

body {
  width:100%;
  background-color:#000;
  color:#DD00FF;
}



/**************************************************
LED Styling
**************************************************/

.tentacle {
  margin-top: 1em;
  display : inline-flex;
}

.led-color {
  display:inline-block;
  height:20px;
}

.circle {
  border-radius: 50%;
}

