<div>
    <a href="#/">Back</a>
</div>

<div id="status"
    <p>Number of LEDS: {{leds.length}}</p>
    <div>{lastMessage}}</div>
</div>

<form name="settings">
    <input type="radio" name="mode" ng-model="tentacle.mode" value="scan"><label>Scan</label>
    <input type="radio" name="mode" ng-model="tentacle.mode" value="passive"><label>Passive</label>
    <input type="radio" name="mode" ng-model="tentacle.mode" value="off"><label>Off</label>
    <input type="number" name="dt" min="0" ng-model="dt" ><label> Timer delta (milliseconds)</label>
    <input type="text" name="bots" ng-model="app.bots" value="app.bots"><label>List of bots</label>
</form>
