WTF


<h4>Radio &amp; Uncheckable Radio</h4>
<div class="btn-group">
    <label class="btn btn-primary" ng-model="mm.state" btn-radio="'off'">Off</label>
    <label class="btn btn-primary" ng-model="mm.state" btn-radio="'00FF00'">Green</label>
    <label class="btn btn-primary" ng-model="mm.state" btn-radio="'0000FF'">Blue</label>
    <label class="btn btn-primary" ng-model="mm.state" btn-radio="'FF0000'">Red</label>
    <label class="btn btn-primary" ng-model="mm.state" btn-radio="'random'">Random</label>
</div>

